name: 'Validation'

on:
  push:
    branches:
      - main
    paths:
      - '*.tf'
  pull_request:
    branches:
      - main
    paths:
      - '*.tf'

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.1
      with:
        persist-credentials: true

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v1.1.0
        
    - name: Terraform fmt check
      run: terraform fmt -check

    - name: Terraform init
      run: terraform init
    
    - name: Terraform validate
      run: terraform validate
          